<div class="row">
  <div class="large-5 columns">
    <h3>Contact our support team</h3>
    <p>
      You may contact us using the form to the right. This is the place for any general contact, questions, and even support and account issues you may have.
    </p>
    <p>
      We only ask for your email so we can respond if needed.
    </p>
    <p>
      Response time is generally the next day, but could be longer depending on how busy we are.
      <br />
      <br />
      Thanks!
    </p>
  </div>

  <div class="large-7 columns">
    <fieldset>
      <%= form_for @message do |f| %>
        <% if @message.errors.any? %>
          <div class="small-10 columns">
            <label class="error">Your message could not be sent!<br /><br />Please be sure to add a valid email, your name, and your message.</label>
            <hr />
          </div>
        <% end %>

        <div class="small-10 columns">
          <div class="small-5 columns">
            <%= f.label :name, "Full Name", :class => "right inline" %>
          </div>
          <div class="small-7 columns">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="small-10 columns">
          <div class="small-5 columns">
            <%= f.label :email, "Email Address", :class => "right inline" %>
          </div>
          <div class="small-7 columns">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="small-10 columns">
          <div class="small-5 columns">
            <%= f.label :body, "Message Content", :class => "right inline" %>
          </div>
          <div class="small-7 columns">
            <%= f.text_area :body, :style => "height: 150px" %>
          </div>
        </div>

        <div class="small-10 left columns">
          <br />
          <%= f.submit "Contact us!", :class => "button right" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
