<div class="row">
  <br />
  <br />
  <br />
  <br />
  <div class="large-5 columns">
    <h3>Sign in to your account</h3>
    <p>
      Welcome back!
    </p>
    <p>
      Sign in with the form to the right. You can also use the drop down on the top menu bar to have us remember you- this way you won't have to log in next time. Just remember to only use this feature on your personal computer at home and not a public computer.
    </p>
  </div>

  <div class="large-7 columns">
    <fieldset>
      <legend>Login to rainybudget.com</legend>
      <%= form_tag sessions_path do %>
        <div class="small-10 columns">
          <div class="small-5 columns">
            <%= label_tag :email, "Email Address", :class => "right inline" %>
          </div>
          <div class="small-7 columns">
            <%= text_field_tag :email, params[:email] %>
          </div>
        </div>

        <div class="small-10 columns">
          <div class="small-5 columns">
            <%= label_tag :password, "Password", :class => "right inline" %>
          </div>
          <div class="small-7 columns">
            <%= password_field_tag :password %>
          </div>
        </div>

        <div class="small-10 left columns">
          <br />
          <%= submit_tag "Log In", :class => "button right" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
