
<div class="row">
  <div class="large-12 columns date-row">
    <div class="row">
      <div class="large-4 columns">
        <h3><%= Time.zone.now.strftime("%A") %> <small><%= Time.zone.now.strftime("%b %d, %Y") %></small></h3>
      </div>
      <div class="large-8 columns">
        <h3 class="right"><%= how_much_money_is_left %></h3>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li><%= link_to "#{this_month} Overview", current_month_path %></li>
      <li><%= link_to "Savings", savings_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><%= link_to "Income", incomes_path %></a></li>
      <li class="divider"></li>
      <li class="active"><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>


  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <h4>Account Information</h4>
        <hr />
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="large-12 columns">
            <%= form_for @user do |f| %>
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name %><br />

              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name %><br />

              <%= f.label :time_zone, "Select Time Zone" %>
              <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br />

              <p class="user-account-info" style="padding-top: 30px;">
                Join Date: <%= current_user.created_at.strftime("%B %d, %Y") %>
                <br />
                <% if current_user.original_supporter? %> 
                  Account Status: Original Supporter
                <% else %>
                  Account Status: Regular Member
                <% end %>
              </p>
              <br />
              <%= f.submit "Save Account Information", :class => "button right" %>
            <% end %>
          </div>
        </div>
        <div class="large-6 columns">
          <p>
            We appreciate your support and hope you find this software useful. Feel free to <%= link_to "contact us", contact_us_path %> if you have any suggestions, questions, concerns, or would simply like to say hi.
          </p>
          <p>
            Thank you!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
