
<div class="row">
  <div class="large-12 columns">
    <h1><%= Time.now.strftime("%A") %> <small><%= Time.now.strftime("%b %d, %Y") %></small></h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li><%= link_to "#{this_month} Overview", current_month_path %></li>
      <li><%= link_to "Savings", savings_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><%= link_to "Income", incomes_path %></a></li>
      <li class="divider"></li>
      <li class="active"><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-8 columns">
        <h4>Hello!</h4>
        <div class="large-12 columns">
          <%= form_for @user do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %><br />

            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br />

            <%= f.submit :class => "small button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
