<div class="row">
  <div class="large-5 columns">
    <br />
    <h2>Welcome!</h2>
    <p>
      Creating an account is free, and right now during the beta, a new account means lifetime original supporter status! This gives you priority over other users and special privledges later in the life of rainybudget.com.
    </p>
    <h4>How does rainybudget.com work?</h4>
    <ol style="padding: 0px 0px 0px 30px;">
      <li>Enter expenses to track spending.</li>
      <li>Record your income for the current month.</li>
      <li>Pick an amount you want to set aside for savings.</li>
    </ol>
    <p>
      And that's it. Each month you'll be able to see exactly how much you have left to spend, and as long as you don't go over, you'll be saving money!
    </p>
    <p>
      Thank you! We hope you enjoy using rainybudget.com.
    </p>
  </div>

  <div class="large-7 columns">
    <fieldset style="padding-top: 20px;">
      <h4>Get started today! <small>Escape the month-to-month</small></h4>
      <hr />
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="small-12 columns">
            <label class="error">Your account could not be created!<br /><br /> Please make sure you're using a valid email address and your passwords match.</label>
            <hr />
          </div>
        <% end %>

        <div class="small-12 columns">
          <div class="small-4 columns">
            <%= f.label :email, "Email Address", :class => "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :email, :placeholder => "katie.bell@gmail.com" %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="small-4 columns">
            <%= f.label :password, "Password", :class => "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="small-4 columns">
            <%= f.label :password_confirmation, "Confirm Password", :class => "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="small-4 columns">
            <%= f.label :time_zone, "Select Time Zone", :class => "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
          </div>
        </div>

        <div class="small-12 columns">
          <div class="small-12 columns">
            <br />
            <%= f.submit "Create my new account", :disable_with => "Creating your account...", :class => "button right" %>
          </div>
        </div>
      <% end %>
      <div class="create-account-info-box">
        <p>
          By creating an account you agree to the <%= link_to "rainybudget.com terms of use", legal_path %> - rainybudget.com is not a replacement for any professional, legal, or accounting services. Information provided by the rainybudget.com services are directly affected by variable input and are not guaranteed to be accurate.
        </p>
      </div>
    </fieldset>
  </div>
</div>
