<div class="header-span header-links">
  

  <div class="row">
    <div class="large-4 columns">
      <h3>BudgetAwesome</h3>
    </div>

    <div class="large-8 columns main-nav">
      <ul class="right">
        <% if !current_user %>
          <li class="right">
            <a href="#" data-dropdown="drop1">Access my Account</a>
            <div id="drop1" class="f-dropdown content small" data-dropdown-form>
              <%= form_tag sessions_path do %>
                <%= label_tag :email, "Email Address" %>
                <%= text_field_tag :email, params[:email] %>
                <%= label_tag :password, "Password" %>
                <%= password_field_tag :password %>
                <%= submit_tag "Sign In", :class => "button right" %>
              <% end %>
            </div>
          </li>
          <li class="right header-links"><%= link_to "Create an Account", signup_path, :class => "" %></li>
        <% end %>
        <% if current_user %>
          <li class="right">Logged in as <%= current_user.full_name %></li>
          <li class="right"><%= link_to "View my Budget", my_budget_path %></li>
        <% end %>
        
      </ul>
    </div>
  </div>

</div>
