<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-3 columns">
        <p class="footer-company">&copy; <%= Time.now.year %> Halimede LLC</p>
      </div>
      <div class="large-9 columns">
        <ul class="inline-list right footer-links">
          <li><%= link_to "Legal Information", legal_path %></li>
          <li><%= link_to "About RainyBudget", about_path %></li>
          <li><%= link_to "Contact Us"%></li>
          <% if current_user %>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Login Page", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
