
<div class="row">
  <div class="large-12 columns date-row">
    <div class="row">
      <div class="large-4 columns">
        <h3><%= Time.zone.now.strftime("%A") %> <small><%= Time.zone.now.strftime("%b %d, %Y") %></small></h3>
      </div>
      <div class="large-8 columns">
        <h3 class="right"><%= how_much_money_is_left %></h3>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li><%= link_to "#{this_month} Overview", current_month_path %></li>
      <li class="active"><%= link_to "Savings", savings_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><%= link_to "Income", incomes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <%= form_for([@user, @user.savings.build]) do |f| %>
            <div class="row">
              <div class="large-12 columns">
                <h4>Saving money. <small>Save money to pay off debt, build an emergency account, and invest for the future.</small></h4>
                <hr />
              </div>
              <div class="large-6 columns">
                <p>
                  Saving money each month not only helps you build emergency cash for those unexpected situations, it also opens up money you can use to invest, purchase, and pay off debt.
                </p>
                <p>
                  Save as much as you can each month for the fastest progress.
                </p>
              </div>
              <div class="large-6 columns">
                <div class="row collapse">
                  <% if @this_months_savings_goal %>
                    <p>
                      Your <%= this_month %> goal is <strong><%= number_to_currency(@this_months_savings_goal.amount) %></strong>
                    </p>
                    <p>
                      You can replace this goal by setting a new goal below.
                    </p>
                  <% else %>
                    <p>Your savings goal for <%= this_month %> has not been set. Set a goal below to start saving!</p>
                  <% end %>
                  <div class="small-6 columns">
                    <%= f.text_field :amount, :placeholder => "$430.00" %>
                  </div>
                  <div class="small-4 columns left">
                    <%= f.submit "Set Goal", :class => "button prefix" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </fieldset>


        <% if @savings.exists? %>
          <table style="width: 100%">
            <thead>
              <tr>
                <th>Date</th>
                <th>Monthly Saving Goal</th>
              </tr>
            </thead>

            <tbody>
              <% @savings.each do |saving| %>
                <tr>
                  <td><%= saving.saving_month.strftime("%B, %Y") %></td>
                  <td><%= number_to_currency(saving.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
            <div class="row">
              <div class="large-12 columns">
          
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

