<script>
  jQuery(function() {
    return Morris.Area({
      element: 'monthly-expenses-chart',
      data: $('#monthly-expenses-chart').data('expenses'),
      xkey: 'date_added',
      ykeys: ['fluid_amount', 'fixed_amount'],
      xLabelFormat: function(date) {
          return date.getMonth()+1+'/'+date.getDate()+'/'+date.getFullYear(); 
          },
      labels: ['Fluid Expenses', 'Fixed Cost'],
      preUnits: '$',
      dateFormat: function(date_added) {
          d = new Date(date_added);
          var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
          var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          return (days[ d.getDay()])+' '+(months[ d.getMonth()])+' '+d.getDate();
          },
    });
  });
</script>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <h2><%= Time.now.strftime("%A") %> <small><%= Time.now.strftime("%b %d, %Y") %></small></h2>
      </div>
      <div class="large-6 columns">
        <br />
        <br />
        <h4 class="right"><%= how_much_money_is_left %></h4>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="active"><%= link_to "#{this_month} Overview", current_month_path %></li>
      <li><%= link_to "Savings", savings_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><%= link_to "Income", incomes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p><%= amount_spent %><span class="right"><%= saved_goal_this_month %></span></p>
        <%= main_total_bar %>
        <hr />
        <br />
        <br />
        <h4 class="text-center">Spending overview for <%= this_month %></h4>
        <%= content_tag :div, "", id: "monthly-expenses-chart", data: {expenses: Expense.chart_data(current_user)} %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
