<script>
  jQuery(function() {
    return Morris.Line({
      element: 'monthly-expenses-chart',
      data: $('#monthly-expenses-chart').data('expenses'),
      xkey: 'date_added',
      ykeys: ['amount'],
      labels: ['Money spent'],
      preUnits: '$'
    });
  });
</script>
<div class="row">
  <div class="large-12 columns">
    <h1><%= Time.now.strftime("%A") %> <small><%= Time.now.strftime("%b %d, %Y") %></small></h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="active"><%= link_to "#{this_month} Overview", current_month_path %></li>
      <li><%= link_to "Savings", savings_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><%= link_to "Income", incomes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p><%= amount_spent %><span class="right"><%= saved_goal_this_month %></span></p>
        <%= main_total_bar %>
        <hr />
        <%= content_tag :div, "", id: "monthly-expenses-chart", data: {expenses: Expense.chart_data(current_user)} %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
