<script>
  jQuery(function() {
    return Morris.Area({
      element: 'monthly-expenses-chart',
      data: $('#monthly-expenses-chart').data('expenses'),
      xkey: 'date_added',
      ykeys: ['fluid_amount', 'daily_saving', 'daily_fixed'],
      xLabelFormat: function(date) {
          return date.getMonth()+1+'/'+date.getDate()+'/'+date.getFullYear(); 
          },
      labels: ['Regular Spending', 'Saved Amount', 'Monthly Expenses'],
      pointSize: 2,
      hideHover: true,
      smooth: false,
      fillOpacity: 0.4,
      dateFormat: function(date_added) {
          d = new Date(date_added);
          var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
          var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          return (days[ d.getDay()])+' '+(months[ d.getMonth()])+' '+d.getDate();
          },
    });
  });
</script>
<div class="row">
  <div class="large-12 columns date-row">
    <div class="row">
      <div class="large-4 columns">
        <h3><%= Time.zone.now.strftime("%A") %> <small><%= Time.zone.now.strftime("%b %d, %Y") %></small></h3>
      </div>
      <div class="large-8 columns">
        <h3 class="right"><%= how_much_money_is_left %></h3>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="active"><%= link_to "<i class='foundicon-graph'></i> #{this_month} Overview".html_safe, current_month_path %></li>
      <li><%= link_to "<i class='foundicon-checkmark success-icon'></i> Savings".html_safe, savings_path %></li>
      <li><%= link_to "<i class='foundicon-minus alert-icon'></i> Regular Spending Expenses".html_safe, regular_spending_path %></li>
      <li><%= link_to "<i class='foundicon-calendar primary-icon'></i> Monthly Expenses".html_safe, monthly_expenses_path %></li>
      <li><%= link_to "<i class='foundicon-plus secondary-icon'></i> Income".html_safe, incomes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p><%= amount_spent %><span class="right"><%= saved_goal_this_month %></span></p>
        <%= main_total_bar %>
        <%= content_tag :div, "", id: "monthly-expenses-chart", data: {expenses: Expense.chart_data(current_user)} %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
