<% title("rainybudget.com - The easiest personal finance zero-based budget website around.", false) %>
<% meta_description("Homepage for rainybudget.com") %>
<% meta_keywords("rainybudget, zero-based budget, zero-sum budget, simple online budget, simple budget, personal finance, save money") %>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-7 columns index-mainbox">
        <h2>Simplified Personal Budgeting <br /><small>Easy budgeting for regular people.</small></h2>
        <p>
          Personal finance doesn't have to be difficult. No spreadsheets, no data dumps, no asset-tracking, no confusion. Keeping your money simple helps you focus on things that matter- without feeling guilty about spending.
        </p>
        <p>
          Spend, save, and escape debt. Create an account today to get started!
        </p>
        <p style="margin-top: 50px;">
          <%= link_to "Create my Account &raquo;".html_safe, signup_path, :class => "button large" %>
        </p>
      </div>
      <div class="computerimage">
        <%= image_tag("rainycomputer.png", :class => "right", :style => "margin: 50px 0px 100px 0px;") %>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="row">
  <div class="large-4 columns">
    <div class="text-center">
      <%= image_tag("raindrop_clear.png") %>
    </div>
  </div>
  <div class="large-8 columns">
    <br />
    <br />
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <h3>Save money to escape the month-to-month.</h3>
        <p>
          Fill your savings bucket one drop at a time. rainybudget.com helps you watch your monthly spending, with an emphasis on saving money, so that you always know what you have left for the month. If you spend it all, you'll have saved money. It's the easiest zero-based budget software around.
        </p>
        <p>
          <%= link_to "Create an account today", signup_path %> to see how easy it is to get started.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <hr />
  <br />
  <br />
  <div class="large-8 columns">
    <br />
    <br />
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <h3>Beta announced for August &amp; September!</h3>
        <p>
          We're up and running live! Even though it's beta, all of your data is still safe. Feel free to <%= link_to "create an account", signup_path %> and you will be an original supporter; giving you extra benefits later in the life of rainybudget.com. We will also be adding new features we'd like to use, if you think of any you'd like be sure to let us know!
        </p>
        <p>
          Thanks for your support!
        </p>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <br />
    <br />
    <%= image_tag("betasmall.png", :style => "margin-top: 20px; border: 1px solid #000000;") %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" style="padding: 50px 0px 50px 0px;">
  </div>
</div>
