
<div class="row">
  <div class="large-12 columns">
    <h1><%= Time.now.strftime("%A") %> <small><%= Time.now.strftime("%b %d, %Y") %></small></h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="active"><%= link_to "Month of #{Time.now.strftime("%B")}", my_budget_path %></li>
      <li><%= link_to "Expenses", expenses_path %></li>
      <li><a href="#">Income</a></li>
      <li><a href="#">Progress for <%= Time.now.strftime("%Y") %></a></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", edit_user_path(current_user) %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p>You have spent <strong><%= number_to_currency(amount_spent) %></strong> of <strong>$4,000.00</strong><span class="right">Expense count at <%= @purchase_count %></span></p>
        <div class="progress secondary"><span class="meter" style="width: <%= main_total_bar %>%"></span></div>
      </div>
      <div class="large-4 columns">
        <h6 class="fixed-font">Fixed Expenses</h6>
        <div class="progress"><span class="meter" style="width: <%= fixed_percent %>%"></span></div>
      </div>
      <div class="large-4 columns">
        <h6 class="fluid-font">Fluid Spending</h6>
        <div class="progress alert"><span class="meter" style="width: 8.21%"></span></div>
      </div>
      <div class="large-4 columns">
        <h6 class="saving-font">Saved Income</h6>
        <div class="progress success"><span class="meter" style="width: 8.21%"></span></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
