<script>
  $(document).ready(function(){
    $(function() {
        return $("#datepicker").datepicker({
          dateFormat: 'yy-mm-dd',
          stepMonths: 0
        });
      });
  });
</script>
<div class="row">
  <div class="large-12 columns date-row">
    <div class="row">
      <div class="large-4 columns">
        <h3><%= Time.zone.now.strftime("%A") %> <small><%= Time.zone.now.strftime("%b %d, %Y") %></small></h3>
      </div>
      <div class="large-8 columns">
        <h3 class="right"><%= how_much_money_is_left %></h3>
      </div>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li><%= link_to "<i class='foundicon-graph'></i> #{this_month} Overview".html_safe, current_month_path %></li>
      <li><%= link_to "<i class='foundicon-checkmark success-icon'></i> Savings".html_safe, savings_path %></li>
      <li><%= link_to "<i class='foundicon-minus alert-icon'></i> Regular Spending Expenses".html_safe, regular_spending_path %></li>
      <li class="active"><%= link_to "<i class='foundicon-calendar primary-icon'></i> Monthly Expenses".html_safe, monthly_expenses_path %></li>
      <li><%= link_to "<i class='foundicon-plus secondary-icon'></i> Income".html_safe, incomes_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Account Information", account_information_path %></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <table style="width: 100%">
          <thead>
            <tr>
              <th class="fixed-font">Monthly Expenses for <%= this_month %></th>
              <th class="fixed-font">Expense Information</th>
            </tr>
          </thead>
          <tbody>
            <%= form_for([@user, @user.expenses.build]) do |f| %>
              <tr>
                <td>
                  <div class="row collapse">
                    <div class="large-12 columns">
                      <div class="large-2 columns">
                        <%= f.text_field :amount, :placeholder => "$37.50" %>
                      </div>
                      <div class="large-10 columns">
                        <%= f.text_field :name, :placeholder => "Name of Monthly Expense" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row collapse">
                    <div class="large-12 columns">
                      <div class="large-5 columns">
                        <%= f.text_field :date_added, :placeholder => "yyyy-mm-dd", :id => "datepicker" %>
                        <%= f.hidden_field :fixed, :value => true %>
                      </div>
                      <div class="large-7 columns">
                        <%= f.submit "Add Expense", :class => "button small right" %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            <% if @fixed_expenses.exists? %>
              <% @fixed_expenses.each do |expense| %>
                <tr>
                  <td style="width: 65%">
                    <%= number_to_currency(expense.amount) %> &nbsp;
                    <%= expense.name %>
                  </td>
                  <td><%= expense.date_added.strftime("%A, %B %d") %>
                  <%= link_to 'remove', expense, method: :delete, data: { confirm: "Are you sure you want to remove this expense?" }, :class => "right" %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td style="width: 65%">
                  <h5>No monthly expenses have been entered for <%= this_month %></h5>
                </td>
                <td>
                  
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
        <div class="row collapse">
          <div class="large-12 columns">
            <p>
              <em>Monthly Expenses</em> can be copied over from the previous month, and then edited to correct for slight price calculation. These are anything that you pay each month of the year.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
